{% extends 'base.html.twig' %}

{% block title %}Hello AbonnementController!{% endblock %}

{% block body %}
    <div class="Table">
        <div class="divTableBody">

            <div class="divTableRow">

                {# Heading Cell #}
                <div class="cell">
                    <div class="Table Month">
                        <div class="divTableBody">
                            <div class="divTableRow">
                                <div class = "cell Info"> Nom </div>
                                <div class = "cell Info"> Prenom </div>
                                <div class = "cell Info"> Emaim </div>
                                <div class = "cell Info"> Abonnement </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            {% for persone in listPerson %}
                <div class="divTableRow">

                    {# Info Cell #}
                    <div class="cell">
                        {# Info Table #}
                        <div class="Table Month">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class = "cell Info"> {{ persone[0] }} </div>
                                    <div class = "cell Info"> {{ persone[1] }} </div>
                                    <div class = "cell Info"> {{ persone[2] }} </div>
                                    <div class = "cell Info"> {{ persone[3] }}</div>
                                </div>
                            </div>
                        </div>

                    </div>

                    {# Button Cell #}
                    <div class="cell">
                        {#  Button Table #}
                        <div class="Table button">
                            <div class="divTableBody">
                                <div class="divTableRow">
                                    <div class="cell">
                                        {# Button Desinscription #}
                                        <a href="{{ path('renew',{id : persone[4]}) }}"
                                           class="BtnStyle RenewBtn">
                                            + Renouvellement
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>
{% endblock %}
