{% extends 'base.html.twig' %}

{% block title %}Hello EditProfileController!{% endblock %}

{% block body %}
    <div class="register-page">
        <div class="register">
            {{ form_start(form,
                {
                    'attr' :
                    {
                        'class': 'login-form',
                        'method': 'POST'
                    }
                }
            )}}
            {{ form_row(form._token) }}
            {{ form_row(form.FirstName) }}
            {{ form_row(form.LastName) }}
            {{ form_row(form.Username) }}
            {{ form_row(form.email) }}
            {{ form_row(form.AboType) }}
            {{ form_row(form.Day) }}
            {{ form_row(form.register,{'label':'Edit'}) }}
        </div>
    </div>
{% endblock %}
