{% extends 'base.html.twig' %}

{% block body %}
    <div class="Position">
        {% if  NoSession is not defined %}
        <div class="day"> {{ Date }}</div>
        <div class="Session">
            <div class="top">
                <div class="time"> {{ TimeTop }}</div>
                <div class="book">
                    {% for Person in listPersonTop %}
                        <ul class="Session"> {{ Person[0] }} {{ Person[1] }}</ul>
                    {% endfor %}
                </div>
            </div>
            <div class="bottom">
                <div class="time"> {{ TimeBottom }} </div>
                <div class="book">
                    {% for Person in listPersonBottom %}
                        <ul class="Session"> {{ Person[0] }} {{ Person[1] }}</ul>
                    {% endfor %}
                </div>
            </div>
        </div>
            {% else %}
            <h2>NO SESSION TODAY</h2>
        {% endif  %}

    </div>
{% endblock %}
