{% extends 'base.html.twig' %}
{#{% extends 'AdminNav.html.twig' %}#}
{% block title %}Hello SessionAdministrationController!{% endblock %}

{% block body %}

<div class="Table">
    <div class="divTableBody">
        <div class="divTableRow">
            {#  Session Panel#}
            <div class="cell">
                <div class="Table">
                    <div class="divTableBody">
                        {#  Heading Row #}
                        <div class="divTableRow">
                            {# Heading Cell #}
                            <div class="cell">
                                <div class="Table Month">
                                    <div class="divTableBody">
                                        <div class="divTableRow">
                                            <div class = "cell Info"> Day </div>
                                            <div class = "cell Info"> Date </div>
                                            <div class = "cell Info"> Time </div>
                                            <div class = "cell Info"> Bike Free </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {#  Month Selection Cell #}
                            <div class="cell">
                                <div class="Table">
                                    <div class="divTableBody">
                                        <div class="divTableRow">
                                            <div class="cell" style="width: 200px">
                                                <h4>Month: </h4>
                                            </div>
                                            <form action="{{ path('session_administration')}}" method="get">
                                                <div class = "cell" style="width: 100px; float: left; padding: 5px 5px 0 5px;">
                                                    <div class="">
                                                        <select name="month" onchange="this.form.submit()">
                                                            {% set month = [[01,'Janvier'],
                                                                [02,'Févrié'],
                                                                [03,'Mars'],
                                                                [04,'Avril'],
                                                                [05,'Mai'],
                                                                [06,'Juin'],
                                                                [07,'Juillet'],
                                                                [08,'Aout'],
                                                                [09,'Septembre'],
                                                                [10,'Octrobre'],
                                                                [11,'Novembre'],
                                                                [12,'Decembre']] %}
                                                            {% for m in month %}
                                                                {% if Selected == m[0] %}
                                                                    <option value={{  m[0] }} selected>{{  m[1] }}</option>
                                                                {% else %}
                                                                    <option value={{  m[0] }} >{{  m[1] }}</option>
                                                                {% endif %}
                                                            {% endfor %}
                                                        </select>
                                                    </div>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        {#  Session Row #}
                        {% for Session in listSession %}
                            <div class="divTableRow">

                                {# Info Cell #}
                                <div class="cell">
                                    {# Info Table #}
                                    <div class="Table Month">
                                        <div class="divTableBody">
                                            {% if  Session[5] == 1 %}
                                            <div class="divTableRow Cancel">
                                                {% else %}
                                                <div class="divTableRow">
                                            {% endif %}
                                                <div class = "cell Info"> {{ Session[0] }} </div>
                                                <div class = "cell Info"> {{ Session[1] }} </div>
                                                <div class = "cell Info"> {{ Session[2] }} </div>
                                                {% if Session[4] == 0 %}
                                                    <div class="cell Info">Complete</div>
                                                {% else %}
                                                    <div class = "cell Info"> {{ Session[3] }}</div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                {# Button Cell #}
                                <div class="cell">
                                    {#  Button Table #}
                                    <div class="Table button">
                                        <div class="divTableBody">
                                            <div class="divTableRow">

                                                {% if Session[5] == 1 %}
                                                    {# Button Create #}
                                                    <div class="cell">
                                                        <a href="{{ path('recreate',{id : Session[4]}) }}"
                                                           class="BtnStyle InscriptionBtn">
                                                            + Create
                                                        </a>
                                                    </div>

                                                    {# Delete Create #}
                                                    <div class="cell">
                                                        <a href="{{ path('Delete',{id : Session[4]}) }}"
                                                           class="BtnStyle UnsubBtn">
                                                            - Delete
                                                        </a>
                                                    </div>
                                                    {% else %}
                                                        {# Button Cancel #}
                                                        <div class="cell">
                                                            <a href="{{ path('Cancel',{id : Session[4]}) }}"
                                                               class="BtnStyle UnsubBtn">
                                                                X Cancel
                                                            </a>
                                                        </div>
                                                {% endif %}



                                                {# Button Show More #}
                                                <div class="cell">
                                                    <a href="{{ path('more_info',{id : Session[4]}) }}" class="BtnStyle ShowMorBtn">
                                                        Show More
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
